@font-face {
    font-family: Geograph;
    src: url(geographwebregular.ttf);
}
body{
    font-family: geograph, sans-serif;;
}
nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ccc;
    background-color: white;

}

#top-left{
    color: black;
    margin: 8px;
    text-decoration: none;
}
#top-left:hover {
  text-decoration: underline;
}

#sale:hover{
    text-decoration: underline;
}

#sale{
    color: #a52a2a;
    text-decoration: none;
}
.right-nav{
    margin: 8px;
    color: black;
    text-decoration: none;
}
.right-nav:hover{
    text-decoration: underline;
}

.nav-2{
    margin-top: 10px;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 10px;
    transition: 3s;
    top: 0;
    position: sticky;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    
}
.shoes{
    color: black;
    text-decoration: none;
}
.shoes:hover{
    text-decoration: underline;
}

#main-pic{
    height: 720px;
    width: 1510px;
    object-fit: fill;
}
*{
    box-sizing: border-box;
}
#brown{
    align-items: center;
    display: flex;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

.row img{
    width: 100%;
    transition: 1s;
}

.row img:hover{
    transform: scale(1.2);

}

.we-make img{
    margin-top: 20px;
    max-width: 100%;
    
}

.listing{
    overflow: hidden;
    display: flex;
}
.listin::after {
  content: "";
  clear: both;
  display: table;
}
.rock{
    overflow: hidden;
}
.rock img{
    max-width: 80%;
    max-height: 100%;
    width: 100%;
    transition: .5s;
    flex: 100%;
    
  
}
.rock img:hover{
    transform: scale(1.09);
    
}


.tree img{
    max-width: 100%;
    max-height: 50%;
    width: 100%;
    transition: .5s;
    flex: 100%;
  

}
.tree img:hover{
    transform: scale(1.09);
    
}

.piper img{
    max-width: 100%;
    max-height: 50%;
    width: 100%;
    transition: .5s;
    flex: 100%;
}
.piper img:hover{
    transform: scale(1.09);
    
}

.brown-txt{
    position: absolute;
    top: 5%;
    color: white;
    padding: 20px;
    right: center;
    text-align: center;
}
.blue-text{
    position: absolute;
    top: 5%;
    color: white;
    padding: 20px;
    right: 37%;
    text-align: center;
}
.sky-text{
    position: absolute;
    top: 5%;
    color: white;
    padding: 20px;
    right: 8%;
    text-align: center;
}

.row{
    position: relative;
}